@import '../../../themes/utils/varibles.scss';

.comeBtn {
  text-decoration: none;
  color: $colorText;
  padding: 10px 30px;
  margin: 30px 0 30px 25px;
  border: 1px solid $colorBorder;
  border-radius: 5px;
  display: inline-block;
  transition: 0.5s;
}
.comeBtn:hover {
  text-decoration: none;
  color: $colorTextWhite;
  background-color: $colorBackground;
}
.section-categories {
  background-color: $colorBackgroundBlue;
}
.button {
  margin: 30px 0 30px 0;
}
.block-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1170px) {
  .button {
    padding: 10px 20px;
  }
}
@media (max-width: 1170px) {
  .button {
    padding: 10px 10px;
  }
}
@media (max-width: 930px) {
  .button {
    padding: 10px 8px;
    font-size: 15px;
  }
}
