@import '../../../themes/utils/varibles.scss';

.section-categories {
  background-color: $colorBackgroundBlue;
}
.button {
  margin: 30px 0 30px 20px;
}
.btn-categories {
  margin-left: 25px;
}
@media (max-width: 1280px) {
  .button {
    margin: 30px 0 30px 17px;
  }
}
@media (max-width: 1215px) {
  .button {
    margin: 30px 0 30px 43px;
    padding: 10px 14px;
  }
}
@media (max-width: 1145px) {
  .button {
    padding: 10px 20px;
    margin: 30px 0 30px 50px;
  }
}
@media (max-width: 1080px) {
  .block-btn {
    text-align: center;
  }
  .button {
    margin: 30px 10px;
  }
}
@media (max-width: 850px) {
  .button {
    margin: 30px 28px;
  }
}
