@import '../../../themes/utils/varibles.scss';

.section-bestDreams {
  padding: 60px 0 60px 0;
}
.titleBestDreams {
  color: $colorTextWhite;
  text-decoration: none;
  font-size: 30px;
}
.rowBestDreams {
  max-height: 250px;
  max-width: 562px;
  position:relative;
  line-height: 250px;
  .photoBestDreamsBlock {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    span {
      z-index: 2;
    }
  }
}
.photoBestDreams {
  width: 100%;
}


