$colorText: #297FCA;
$colorTextWhite: #FFFFFF;
$colorTextBlue: #F0F8FF;
$colorBorder: #297FCA;
$colorBorderWhite: #FFFFFF;
$colorBackground: #297FCA;
$colorBackgroundWhite: #FFFFFF;
$colorBackgroundBlue: #F0F8FF;
$colorSearch: #290FCA;

