$colorText: #297fca;
$colorTextWhite: #FFFFFF;
$colorTextBlue: #F0F8FF;
$colorBorder: #297fca;
$colorBorderLight: #d7e3ed;
$colorBorderWhite: #FFFFFF;
$colorBackground: #297fca;
$colorBackgroundLight: #d7e3ed;
$colorBackgroundWhite: #FFFFFF;
$colorBackgroundBlue: #F0F8FF;
$colorSearch: #1c588d;
