$colorText: #297FCA;
$colorTextWhite: #FFFFFF;
$colorTextBlue: #E9F2F9;
$colorBorder: #297FCA;
$colorBorderWhite: #FFFFFF;
$colorBackground: #297FCA;
$colorBackgroundWhite: #FFFFFF;
$colorBackgroundBlue: #E9F2F9;
$colorSearch: #290FCA;

