.section-assistants {
  background-color: #F0F8FF;
  color: #297FCA;
}
.assistants {
  padding: 0 !important;
  max-width: 1230px !important;
  box-sizing: border-box;
}
.row-assistants {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.text {
  margin: 10px 0 0 0;
  font-weight: lighter;
}
.projectName {
  margin: 0 0 10px 0;
}
.time {
  margin: 10px 0 10px 0;
}
.account {
  font-size: 40px;
  margin: 0 5px 40px 0;
}
@media (max-width: 1180px) {
  .app-assistants {
    margin: 0 !important;
  }
}
@media (max-width: 1080px) {
  .app-assistants {
    margin: 0 !important;
  }
}
@media (max-width: 950px) {
  .app-assistants {
    margin: 0 !important;
  }
}
@media (max-width: 850px) {
  .app-assistants {
    margin: 0 !important;
  }
  .assistants {
    font-size: 16px;
  }
}
