.btnStepToDreams {
  padding-left: 818px;
}
@media (max-width: 1230px) {
  .btnStepToDreams {
    padding-left: 485px;
  }
}
@media (max-width: 850px) {
  .btnStepToDreams {
    padding-left: 397px;
  }
}

