@import '../../../themes/utils/varibles.scss';

.city {
  display: block;
}
.city-dreams {
  color: $colorText;
}
.line {
  margin-top: 60px;
}
.btnCity {
  padding-left: 850px;
}
.titleRowCity {
  color: $colorTextWhite;
}
.counter {
  color: $colorTextBlue;
}
.rowCity {
  background-color: $colorBackground;
  max-width: 291px;
  border: 1px solid $colorBorder;
  margin: 0 16px 0 0;
}
.blockRowCity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.photoCity {
  width: 100%;
}
@media (max-width: 1230px) {
  .btnCity {
    padding-left: 638px;
  }
  .rowCity {
    margin: 0 22px 10px 0;
  }
}
@media (max-width: 950px) {
  .btnCity {
    padding-left: 358px;
  }
}
