@import '../../../themes/utils/varibles.scss';

.header-block {
  color: $colorText;
  max-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  text-decoration: none;
  justify-content: flex-start;
}
.logo-title {
  margin-left: 12px;
}
.nav {
  justify-content: space-between;
}
.btn {
  justify-content: flex-end;
}
.logo-icon {
  font-size: 40px;
}
.search {
  cursor: pointer;
}
.search:hover {
  color: $colorSearch;
}
.dreamBtn {
  margin: 30px 0 30px 0;
  padding: 10px;
  text-decoration: none;
  color: $colorText;
  border-radius: 5px;
  border: 1px solid white;
  display: inline-block;
  transition: 0.5s;
}
.blockCreateDream {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addBtn {
  padding: 7px;
}
.dreamBtn:hover {
  background-color: transparent;
  border-color: $colorBorder;
}
.registerBtnHome {
  text-decoration: none;
  background-color: $colorBackground;
  color: $colorTextWhite;
  padding: 10px 30px;
  margin: 30px 0 30px 25px;
  border-radius: 5px;
  border: 1px solid $colorBorder;
  display: inline-block;
  transition: 0.5s;
}
.registerBtnHome:hover {
  text-decoration: none;
  color: $colorText;
  background-color: transparent;
  border-color: $colorBorder;
}
