@import '../themes/main.scss';

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Arial', sans-serif; 
}

.sweet-loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}