@import '../../themes/utils/varibles.scss';

.registerBtnHome {
  text-decoration: none;
  background-color: $colorBackground;
  color: $colorTextWhite;
  font-size: 16px;
  padding: 10px 30px;
  margin: 30px 0 30px 25px;
  border-radius: 5px;
  border: 1px solid $colorBorder;
  display: inline-block;
  transition: 0.5s;
  outline: none;
  cursor: pointer;
}
.registerBtnHome:hover {
  text-decoration: none;
  color: $colorText;
  background-color: transparent;
  border-color: $colorBorder;
}
.icon-header {
  padding: 0 5px 0 12px;
}
