@import '../../../themes/utils/varibles.scss';

.section-info {
  background-color: $colorBackground;
  color: $colorTextWhite;
}
.info-title {
  font-size: 50px;
  margin: 30px 0 30px 0;
}
.infoContent {
  margin-top: 0;
  padding-right: 130px;
}
.rowInfo {
  padding: 100px 0 100px 0;
  text-align: left;
}
.rowImg {
  text-align: right;
}
.registerBtn {
  background-color: $colorBackgroundWhite;
  color: $colorText;
  padding: 10px 30px;
  margin: 30px 0 30px 0;
  border-radius: 5px;
  border: 1px solid $colorBorder;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  transition: 0.5s;
}
.registerBtn:hover {
  text-decoration: none;
  color: $colorTextWhite;
  background-color: transparent;
  border-color: $colorBorderWhite;
}
.btnInfo {
  color: $colorTextWhite;
  margin: 30px 0 30px 0;
  padding: 10px 30px;
}
@media (max-width: 1280px) {
  .infoContent {
    padding-right: 50px;
  }
  .rowImg {
    text-align: center;
    max-width: 500px;
  }
}
@media (max-width: 1080px) {
  img {
    max-width: 450px;
  }
  .info-title {
    font-size: 40px;
  }
  .rowInfo {
    padding: 50px;
  }
}
@media (max-width: 950px) {
  img {
    max-width: 400px;
  }
  .info-title {
    font-size: 35px;
  }
  .rowInfo {
    padding: 40px;
  }
}
@media (max-width: 850px) {
  .info {
    font-size: 16px;
  }
  img {
    max-width: 350px;
  }
  .registerBtn {
    padding: 8px 20px;
  }
}
