.menuFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.menu-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.block-menu {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.textFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

