.btnDreamscity {
  padding-left: 402px;
}
@media (max-width: 1280px) {
  .btnDreamscity {
    padding-left: 530px;
  }
}
@media (max-width: 1215px) {
  .btnDreamscity {
    padding-left: 384px;
  }
}
@media (max-width: 1145px) {
  .btnDreamscity {
    padding-left: 389px;
  }
}
@media (max-width: 1080px) {
  .btnDreamscity {
    padding-left: 238px;
  }
}
