footer {
  font-size: 0.8em;
  text-align: left;
  background-color: #297fca;
  padding: 30px 0;

  font-family: sans-serif;
  color: #fff;

  .divider {
    background-color: #5398d4;
    height: 1px;
    width: 100%;
    border: 0;
  }

  a {
    color: #94bfe4;
    text-decoration: none;
    font-size: 90%;
  }

  .menuFooter, .block-menu, .textFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo-title {
    margin-top: -60px;
    text-indent: 30px;
    .copyright {
      font-size: 182%;
      vertical-align: middle;
    }
  }

  .menu-wrap {
    display: flex;
    flex-direction: row;
    padding-left: 185px;
  }

  .block-menu {
    padding: 0 40px;
    flex-direction: column;
  }

  .menuFooter {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 29px;
  }

  hr {
    display: block;
    width: calc(100% - 60px);
    height: 0px;
    border-top: 0;
    border-bottom-color: #4590d1;
    border-bottom-width: 1px;
  }

  .textFooter {
    flex-direction: row;
    justify-content: space-between;
    font-size: 85%;
    padding-top: 0;
    padding-right: 50px;
    text-indent: 40px;
    color: #94bfe4;

    .designed-by {
      color: #fff;
    }
  }
}
